
@{
    ViewBag.Title = "TemperaturaFin";
}

<h2>TemperaturaFin</h2>
<a href="Temperatura">
    <button class="btn btn-outline-secondary">Atras</button>
</a>
<h2>La Temperatura es de: @ViewBag.Tem</h2>